.tableCss            
{
    border: solid 1px #e6e5e5;
}
            
/*for header*/
.tableCss thead
{
    background-color: green;
    color:bisque;
    padding: 15px;
    text-align:center;
}
            
.tableCss td
{
    border: solid 1px bisque;
    padding: 15px;
}
            
